.app {
  background: #f3f2ef;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app__body {
  width: 100%;
  display: flex;
  padding: 10px;
}

.to-login {
  position: sticky;
  width: 100%;
  bottom: 0;
  background: whitesmoke;
  padding: 5px 10px;
}
.to-login > button {
  width: 100px;
  outline: none;
  padding: 5px 10px;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
  background: #0a66c2;
  color: white;
}
.to-login > button > a {
  color: currentColor;
  text-decoration: none;
}
