.widgets {
  position: sticky;
  width: 100%;
  top: 80px;
  flex: 0.2;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 10px;
}
.widget__header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.widgets__article {
  padding-top: 10px;
  cursor: pointer;
  display: flex;
}
.widgets__article:hover {
  background: whitesmoke;
}
.widget__articleLeft {
  color: #0177b7;
}
.widget__articleLeft > .MuiSvgIcon-root {
  font-size: 12px;
}
.widget__articleRight {
  padding-left: 5px;
  flex: 1;
}
.widget__articleRight > h4 {
  font-size: 14px;
}
.widget__articleRight > p {
  font-size: 12px;
  color: gray;
}
